@font-face {
    font-family: Segoe;
    src: url(../assets/fonts/SegoeUI.ttf);
}

* {
    font-family: 'Segoe';
}

.svg-filter-green {
    filter: invert(27%) sepia(91%) saturate(492%) hue-rotate(81deg) brightness(92%) contrast(88%);
}
